@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

.App {
  text-align: center;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

input.input-from {
  background: #FFFFFF;
  box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.10);
  border: none;
}

button {
  background: #F7F7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  color: #080E21;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.btn-delete{
  color: #e83b3b
}