@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    height: 150vh;
    font-family: 'Lato', sans-serif;
  }
  
  /*--- navigation bar ---*/
  header nav.navbar {
    background:#ececec;
    letter-spacing: 6px;
    background: transparent;
  }
  header nav a.nav-link{
    color: #ececec;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    margin-right: 1em !important;
  }
  header nav a.nav-link:hover {
    color: rgb(230, 220, 220);
  }
  header div.navbar-collapse {
    justify-content: flex-end;
  }

  /* baner */
  div.text-baner{
      color: #ececec;
      font-size: 2em;
      font-weight: 500;
      letter-spacing: 8px;
  }
  header.baner{
      background-image: url("img/baner.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
      background-repeat: no-repeat;
      background-attachment: fixed; 
      height: 100vh;
}

footer.contact{
    color:white;
}


