* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 80%;
    margin: 5vh auto 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.game {
    display: flex;
    margin-bottom: 3vh;
    justify-content: center;
}

.game div {
    height: 30vh;
    flex-grow: 1;
    margin: 10px;
    border: 3px solid gray;
}
.play{
   text-align: center;
}
.play input {
    height: 70px;
    font-size: 30px;
    padding: 20px;
    width: 30%;
    border: 3px solid black;
    text-align: center;
    margin-right: 10px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .10);
}

.play button {
    width: 30%;
    height: 70px;
    text-align: center;
    padding: 20px 60px;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 6px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .10);
}

.panel {
    margin: 80px 0 40px;
    font-size: 26px;
}

.panel{
    font-size: 26px;
}
.score{
    font-size: 20px;
}
.panel span, .score span {
    font-weight: bold;
}
.score{
    height: 20vh;
}
p {
    text-align: center;
    font-weight: 100;
}

@media (max-width: 1440px){
    .play button, .play input {
        font-size: 20px;
        text-align: center;
        padding: 5px;
    }
}

@media (max-width: 767px){
    .play button, .play input {
        font-size: 10px;
    }
}